body {
    margin: 0;
    padding: 0;
    background-color: pink;
    font-family: 'Space Grotesk', sans-serif;
}

#app {

    font-family: 'Space Grotesk', sans-serif;
    opacity: 0;
    position: relative;
    z-index: 1;
}

#wrapper {
    top: -10%;
}

canvas {
    opacity: 0;
}

/* #nav {

} */